body
{
  text-align: center;
  background-color:#eee;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 10px;  
  margin: auto;
}
#container
{
    border-width:3px 3px 3px 3px;
    border-style: solid;
    width: 60%;
    margin: auto;
    height:auto;
    border-radius: 30px;
    background-color: rgba(227, 231, 198, 0.781);
    margin-top: 100px;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: none;

}
h1
{
    font-family: 'Playfair Display', serif;
    color: rgb(15, 47, 61);
    padding: 10px;
    font-size: 45px;
    text-shadow: 2px 2px 5px rgb(22, 72, 94); 
}
#input
{
  border-radius: 5px;
  /* background-color: ivory; */
  /* border-width: 2px; */
  font-size: 1.7em;
  font-family:monospace;
  border: none;
  cursor: text;
    
}  

button
{
  font-family:serif;
  color: lemonchiffon;
  font-size:medium; 
  padding: 5px;
  margin: 20px;
  font-size: 1.3em;
  padding-left: 25px ;
  padding-right: 25px; 
  background-color: rgb(90, 71, 71);
  border-radius: 10px; 
  border: none;   
  cursor: pointer;
}
